$primary-color:black;
$secondary-color:#FFC252;
$primary-bg:black;
$secondary-bg:white;
$radius:5px;

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .button{
        margin-left:20px;
    }
  }



article {
    margin: auto;
    margin-top: 15px; 
    margin-bottom: 10px;  
    padding:10px;
    background-color: #326295;
    border-radius: $radius;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    color:white;
    text-align: center;
        
    h3{
         color:$secondary-color;
    }
    input{
        width:100%;
        margin-bottom: 10px;
    }
    select{
        width: 100%;
        display: block;
    }
    >.bottom-article{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        >a{
            color: #f8f8ff;           
            border-radius: $radius;
            padding: 2px;
            background-color: rgba(0, 0, 0, 0.2);
            &:hover{
                color: white;
                text-decoration: none;
                background-color: rgba(0, 0, 0, 0.2);

                &::after{
                    content:">";
                }
            }
        }
    }
}
