$primary-color:black;
$secondary-color:#FFC252;
$primary-bg:black;
$secondary-bg:white;
$radius:5px;
$border:black 2px solid;

body{
    background-color: $primary-bg;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100vh;
}
header {
    background-color: $secondary-bg;
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    background: #000;
    color:#fff;
    border :1px solid grey;
    text-align: center;
    
    &:hover{
        color:$secondary-color;
        text-decoration: none;
    }
}

main{
    background-color: $secondary-bg;
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;

    .event{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        text-align: left;
        align-items: top;
    }

    .carousel-event-image{
        width:100%;
        justify-content:center;
        height:auto;
    }
    .membre-BDE{
        display: flex;
        flex-direction: row;
        img{
            width: 50%;
        }
    }
    #admin_buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);    
        border: $border;
        border-radius: 10px;
        margin:5px;
        a{
            color: black;

            &:hover{
                text-decoration: none;
                color: $secondary-color;
            }
        }

    }
    .bouton_admin{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 5px;
        background-color: rgba(245, 245, 245, 0.3);    
        border: $border;
        border-radius: 10px;
        padding: 10px;

        i{
            color:rgba(0, 0, 0, 0.85);
        }

    }
}

form {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:10px;
    background-color: rgba(0, 0, 0, 0.5);    
    border: $border;
    border-radius: $radius;

    display: flex;
    flex-direction: column;
    text-align: center;

    h3{
        color:$secondary-color;
    }
    input{
        width:100%;
        margin-bottom: 10px;
    }
    select{
        width: 100%;
        display: block;
    }
    >.bottom-form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        >a{
            color: $primary-color;
            border: $border;
            border-radius: $radius;
            padding: 2px;
            background-color: rgba(0, 0, 0, 0.2);
            &:hover{
                color: white;
                text-decoration: none;
                background-color: rgba(0, 0, 0, 0.4);

            }
        }
    }
}
#user_table{
    border: 1px solid black;
    width:99%;
    margin: 5px;
    
    th{
        text-align: center;
        border: 2px solid black;
    }
    td{
        text-align: center;
        border: 1px solid black;
    }
}
.add_event>#prix{
    display:none;
}

footer {
    display: flex;
    flex-flow: row nowrap;
}