$primary-color:black;
$secondary-color:#FFC252;
$primary-bg:black;
$secondary-bg:white;
$radius:5px;
$border:1px black solid;
body{
    background-color: $primary-bg;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100vh;
}
header {
    background-color: $secondary-bg;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 5px;
}

.menu {

    background: $primary-bg;
    color:  $secondary-bg;
    border-right :1px solid grey;

    text-align: center;

    &:hover{
        color:$secondary-color;
        text-decoration: none;
        transition: 0.2s;
    }
}

main{
    background-color: $secondary-bg;
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;

    .underline{
        text-decoration: underline;
    }
    .event{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        text-align: left;
        align-items: top;
    }

    #admin_buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);    
        border: $border;
        border-radius: 10px;
        margin:5px;
        font-size:0.8em;
        a{
            color: black;

            &:hover{
                text-decoration: none;
                color: $secondary-color;
                transition: 0.2s;
            }
        }

    }
    .bouton_admin{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 5px;
        background-color: rgba(245, 245, 245, 0.3);    
        border: $border;
        border-radius: 10px;
        padding: 10px;
        height: 120px;
        i{
            color:rgba(0, 0, 0, 0.85);
        }

    }

}

.whole_form {
    margin: auto;
    margin-top: 20px;
    padding:10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: $radius;

    display: flex;
    flex-direction: column;
    text-align: center;

    h3{
        color:$secondary-color;
    }
    input{
        width:100%;
        margin-bottom: 10px;
    }
    select{
        width: 100%;
        display: block;
    }
    >.bottom-form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        >a{
            color: $primary-color;
            border: 1px solid black;
            border-radius: $radius;
            padding: 2px;
            background-color: rgba(0, 0, 0, 0.2);
            &:hover{
                color: white;
                text-decoration: none;
                background-color: rgba(0, 0, 0, 0.4);
                transition: 0.2s;

            }
        }
    }
}


#user_table{
    border: 1px solid black;
    width:99%;
    margin: 5px;
    font-size: 0.8em;
    
    th{
        text-align: center;
        border: 2px solid black;
    }
    td{
        text-align: center;
        border: 1px solid black;
    }
}
.add_event>#prix{
    display:none;
}

.command,.signal{
    padding-bottom: 5px;
    &:nth-child(odd){
        background-color: rgba(0, 0, 0, 0.4);
    }

    &:nth-child(even){
        background-color: rgba(0, 0, 0, 0.2);
    }
}
.suivi{
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    flex-flow: row nowrap;
} 